@page "/About"

<PageTitle>About</PageTitle>

<main>
    <section class="section is-size-4">
        <h1 class="title is-1">About</h1>
        <p class="block">
            Phobos is a simple graphing calculator. It was made as a university project.
        </p>
    </section>
</main>

@code {
    
}