<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phobos</title>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Phobos.styles.css"/> <!-- individual page styles -->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

    <link rel="icon" href="/phobos-2008.jpg" type="image/svg+xml">
    <HeadOutlet/>
</head>

<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
    <script src="script.js"></script>
</body>

</html>
